.title-section {
  display: flex;
  align-items: center;

  height: calc(var(--size-grid-base) * 6);
  padding: 0 calc(var(--size-grid-base) * 6);

  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
}

.title-section--headline {
  font-size: var(--size-text-large);
}
