.message-header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  height: var(--size-grid-base);

  padding: var(--size-gap);
  padding-left: calc(var(--size-grid-base) * 3);

  background-color: var(--color-light-alt);
  font-size: var(--size-text-small);
}

.message-header--author {
  position: absolute;
  top: calc(var(--size-gap) * -3);
  left: calc(var(--size-gap) * -3);
  width: calc(var(--size-grid-base) * 3);
  height: calc(var(--size-grid-base) * 3);
  margin-right: var(--size-gap);
  border-radius: 50%;
  border: var(--size-border-width) solid var(--color-light);
  background-size: cover;
  background-position: center;
  background-color: var(--color-accent-light);
}
