.author-button {
  border: 0;

  background: none;
  outline: none;

  font-family: inherit;
  font-size: var(--size-text-small);

  cursor: pointer;
}

.author-button--image {
  height: calc(var(--size-grid-base) * 4);
  width: calc(var(--size-grid-base) * 4);

  border: var(--size-border-width) solid var(--color-light);
  border-radius: 50%;

  background-size: cover;
  background-position: center;
}

.author-button:hover>.author-button--image,
.author-button:focus>.author-button--image {
  border-color: var(--color-brand);
}
