:root {
  --color-brand: rgb(255, 94, 41);
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(0, 0, 0);
  --color-accent-light: rgb(255, 204, 194);
  --color-accent-dark: rgb(71, 0, 30);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-light);
  color: var(--color-dark);
}

.root {
  width: 100%;
}
