:root {
  --color-brand: rgb(255, 94, 41);
  --color-light: rgb(255, 255, 255);
  --color-light-alt: rgb(243, 239, 236);
  --color-dark: rgb(0, 0, 0);
  --color-accent-light: rgb(255, 204, 194);
  --color-accent-dark: rgb(71, 0, 30);

  --size-grid-base: 20px;
  --size-max-width: 320px;
  --size-text-regular: 20px;
  --size-text-large: 58px;
  --size-border-width: 2px;
  --size-border-radius: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: var(--size-text-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-light);
  color: var(--color-dark);
}

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
}
