/*** VARIABLES ***/

:root {
  --color-brand: rgb(255, 94, 41);
  --color-light: rgb(255, 255, 255);
  --color-light-alt: rgb(243, 239, 236);
  --color-dark: rgb(0, 0, 0);
  --color-accent-light: rgb(255, 204, 194);
  --color-accent-dark: rgb(71, 0, 30);

  --size-gap: 4px;
  --size-grid-base: 20px;
  --size-max-width: 320px;
  --size-text-small: 14px;
  --size-text-regular: 18px;
  --size-text-large: 36px;
  --size-border-width: 2px;
  --size-border-radius: 4px;
}

/*** RESETS AND DEFAULTS ***/

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: var(--size-text-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-brand);
  color: var(--color-dark);
  background-image: url(./assets/bubble.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150vh;
  background-attachment: fixed;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

/*** ICONS from icomoon.io ***/

@font-face {
  font-family: 'stortala';
  src: url(./assets/stortala.ttf?cvhltw) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'stortala' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-check:before {
  content: "\ea11";
}
