.message-footer {
  position: absolute;
  z-index: 2;
  bottom: calc(var(--size-gap) * -2);
  right: calc(var(--size-gap));
  display: flex;
}

.message-footer--button {
  display: block;
  width: calc(var(--size-grid-base) + var(--size-gap) * 2);
  height: calc(var(--size-grid-base) + var(--size-gap) * 2);
  padding: 0;

  background-color: var(--color-brand);

  border: var(--size-border-width) solid var(--color-light);
  box-sizing: border-box;
  border-radius: 50%;
  outline: 0;

  color: var(--color-light);
  cursor: pointer;
}

.message-footer--button:hover,
.message-footer--button:focus {
  background-color: var(--color-light);
  border-color: var(--color-brand);
  color: var(--color-brand);
}

.message-footer--button:not(:last-child) {
  margin-right: var(--size-gap);
}
